.login-container{
    display: flex;
    flex-direction: column;
    width: 40vw;
    align-items: stretch;
    padding-top: 15vh;
}

.usuario > input{
    border-radius: 10px;
    width: 100%;
}

h5, button{
    margin-top: 20px;
}

.tipoUsuario{
    display: flex;
    justify-content: space-evenly;
}